<h1>Úředníci</h1>
<p>Tato stránka obsahuje databázi úředníků v České Republice. Každý může přidat dalšího úředníka. Stránka slouží také k hodnocení úředníků, které ovšem musí schvalovat administrátor stránek, aby nedošlo k neoprávněnému poškození daného úředníka. Doufám, že Vám tato stránka pomohla.</p>
<br><br>
<center>
<a href="https://cs.wikipedia.org/wiki/%C3%9A%C5%99edn%C3%ADk", target="_blank"><img src="http://www.imagehosting.cz/images/urednik.jpg", align="top"></a>
</center>

<li><%= link_to "Admin", admin_session_path %></li>

