<h1>Úředníci</h1>
<p>Tato stránka obsahuje databázi úředníků v České Republice. Každý může přidat dalšího úředníka. Stránka slouží také k hodnocení úředníků, které ovšem musí schvalovat administrátor stránek, aby nedošlo k neoprávněnému poškození daného úředníka. Doufám, že Vám tato stránka pomohla.</p>



